/*
	Formulaires
*/

/* = Styles de bases = */

label{
	font-size:25px;
	font-weight:600;
	color:#666;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer;
	border:none;
}
/* Removes inner padding and border in FF3+ */
button::-moz-focus-inner, input[type='button']::-moz-focus-inner, input[type='reset']::-moz-focus-inner, input[type='submit']::-moz-focus-inner {
 border: 0;
 padding: 0;
}
/*     custom legend
------------------------------------------------------------------------------------------------*/
form legend {
	font-size:14px;
	line-height:20px;
	color:#0073be;
	padding-bottom: 15px;
}
/*     custom label
------------------------------------------------------------------------------------------------*/

form .form-type-textfield label {
	font-size: 14px;
	color:#0073be;
	padding: 10px 8px 10px 0;
}
/*     custom input text 
------------------------------------------------------------------------------------------------*/
.float-right .form-type-textfield {
	margin: 0 0 10px 0;
}
.form-type-textfield {
	margin:0 0 10px 0;
	min-height: 40px;
}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], .input.type-text {
	padding:9px 10px;
	font-size:20px;
	font-weight: 500;
	background-color:#fff;
	color:#6f6f6f;
	outline-color: #62c0fe;
	margin:0;
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-moz-border-radius: 0 10px 0 10px;
	-webkit-border-radius: 0 10px 0 10px;
	-o-border-radius: 0 10px 0 10px;
	-ms-border-radius: 0 10px 0 10px;
	border-radius: 0 10px 0 10px;
	border: 1px solid #666;	
	-moz-box-shadow: inset 0 0 3px rgba(9,15,16,.3);
	-webkit-box-shadow: inset 0 0 3px rgba(9,15,16,.3);
	box-shadow: inset 0 0 3px rgba(9,15,16,.3);
	-o-box-shadow: inset 0 0 3px rgba(9,15,16,.3);
	-ms-box-shadow: inset 0 0 3px rgba(9,15,16,.3);
}
.input.type-text{
	height:44px;
}
input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, input[type="tel"]:hover,
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus{
	border: 1px solid #E3001B;
	-moz-box-shadow: inset 0 0 3px rgba(227,0,27,1);
	-webkit-box-shadow: inset 0 0 3px rgba(227,0,27,1);
	box-shadow: inset 0 0 3px rgba(227,0,27,1);
	-o-box-shadow: inset 0 0 3px rgba(227,0,27,1);
	-ms-box-shadow: inset 0 0 3px rgba(227,0,27,1);
	outline: none;
}
/* 				custom select
----------------------------------------------------------------------------------------------------*/
select{
	width:100% !important;
	margin:0;
	height: 39px !important;
}
span.customSelect {
  color:#000000;
  outline-color: #62c0fe;
	background-color: #fff;
	padding:10px;
	font-size:14px;
	border:none;
	background-image: url(../img/backgrounds/arrow-select.png);
	background-position: 96% center;
	background-repeat: no-repeat;
	margin:0;
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 0 4px rgba(9,15,16,.3);
	-webkit-box-shadow: inset 0 0 4px rgba(9,15,16,.3);
	box-shadow: inset 0 0 4px rgba(9,15,16,.3);
	-o-box-shadow: inset 0 0 4px rgba(9,15,16,.3);
	-ms-box-shadow: inset 0 0 4px rgba(9,15,16,.3);
}
span.customSelect:hover,
span.customSelect:focus {
	background-image: url(../img/backgrounds/arrow-select-hover.png);
}
span.customSelect span {
  display: block !important;
  /*width: 100% !important;*/
  overflow: hidden;
  /*height: 16px;
  line-height: 16px;*/
}